eser2CaratteriUnivoci
eser1SommaPariDispari
eser3SommaArray
eser4ArrayPiùGrande
eser5ArrayOrdinato
eser6ArraySoloPari
eser7SequenzaInteriCrescente
eser8ArrayValoreMax
eser9DueArrayValoriComuni
eser10FindLargestSumSubArray
eser11ArrayConcatenati