eserCaratteriUnivoci
eserSommaPariDispari
eserSommaArray
eserArrayPiùGrande
eserArrayOrdinato
eserArraySoloPari
eserSequenzaInteriCrescente
eserArrayValoreMax
eserDueArrayValoriComuni
eserFindLargestSumSubArray
eserArrayConcatenati